---
BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
Standard: c++17
BreakBeforeBraces: Custom
BraceWrapping:
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
AllowShortBlocksOnASingleLine: true
